Repository mrlonis/mrlonis-nx-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

More stuff
  libs/ts-workspace/project.json
Due: prettier --write

Fixing github actions
  .github/workflows/actions.yml
  .github/workflows/update.yml
Due: none

Fixing github actions
  .github/workflows/actions.yml
Due: none

Fixing github actions
  .github/workflows/actions.yml
  .husky/pre-commit
Due: none

Test
  .husky/pre-commit
  README.md
Due: prettier --write

Updating dependabot config
  .github/dependabot.yml
Due: none

Update actions.yml
  .github/workflows/actions.yml
Due: none

Dependabot config updates
  .github/dependabot.yml
Due: none

Dependabot config updates
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/update.yml
  .nvmrc
Due: none

Fix PR
  .github/workflows/dependabot-auto-approve.yml
Due: none

Adding stuff
  .github/dependabot.yml
  .github/workflows/actions.yml
  package-lock.json
  package.json
Due: prettier --write

Adding stuff
  .github/workflows/actions.yml
Due: none

Adding stuff
  .github/workflows/update.yml
  package-lock.json
Due: prettier --write

Update dependabot.yml
  .github/dependabot.yml
Due: none

Dependabot config updates
  .github/workflows/update.yml
Due: none

Adding new stuff
  .github/workflows/update.yml
Due: none

Update LICENSE
  LICENSE
Due: none

Fixing new faker
  apps/ngx-table-virtual-scroll-sticky-headers/src/app/user-table-data-source.ts
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Fixing dependabot config
  .github/dependabot.yml
  package-lock.json
Due: prettier --write

Updating to Node 22
  .github/workflows/actions.yml
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

Updating to Node 22
  .github/workflows/update.yml
  .prettierrc
  apps/ngx-ui-personal-website/src/app/nx-welcome.component.ts
  apps/ngx-ui-personal-website/src/assets/old-git-repo/CSCI-A 290/index.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/CSCI-A 290/projects.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/CSCI-C 211/index.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/CSCI-C 211/projects.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/CSCI-C 212/index.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/CSCI-C 212/projects.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/CSCI-C 291/index.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/CSCI-C 291/projects.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/CSCI-C 343/index.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/CSCI-C 343/projects.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/INFO-I 101/index.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/INFO-I 101/w1lab1.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/INFO-I 101/w1lab2.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/INFO-I 101/w2lab1.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/INFO-I 101/w2lab2.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/INFO-I 101/w3lab1.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/INFO-I 101/w3lab2.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/INFO-I 101/w4lab1.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/home.html
  apps/ngx-ui-personal-website/src/assets/old-git-repo/resume.html
Due: prettier --write, ng-lint-staged lint --fix --

Will this work?
  .lintstagedrc.json
  test.sh
Due: prettier --write

Fixed
  .eslintrc.json
Due: prettier --write

Fixed
  .github/dependabot.yml
  .vscode/settings.json
Due: prettier --write

Increasing ECMA version targets
  apps/ngx-table-virtual-scroll-example-e2e/.eslintrc.json
  apps/ngx-table-virtual-scroll-example/.eslintrc.json
  apps/ngx-table-virtual-scroll-example/src/app/app.component.html
  apps/ngx-table-virtual-scroll-example/tsconfig.json
  apps/ngx-table-virtual-scroll-example/tsconfig.spec.json
  apps/ngx-table-virtual-scroll-sticky-headers-e2e/.eslintrc.json
  apps/ngx-table-virtual-scroll-sticky-headers/.eslintrc.json
  apps/ngx-table-virtual-scroll-sticky-headers/tsconfig.json
  apps/ngx-table-virtual-scroll-sticky-headers/tsconfig.spec.json
  apps/ngx-test-application-e2e/.eslintrc.json
  apps/ngx-test-application/.eslintrc.json
  apps/ngx-test-application/src/app/app.component.html
  apps/ngx-ui-personal-website-e2e/.eslintrc.json
  apps/ngx-ui-personal-website/.eslintrc.json
  apps/ngx-ui-personal-website/tsconfig.json
  apps/ngx-ui-personal-website/tsconfig.spec.json
  apps/ngx-virtual-scroll-cdk-table-example-e2e/.eslintrc.json
  apps/ngx-virtual-scroll-cdk-table-example/.eslintrc.json
  apps/ngx-virtual-scroll-cdk-table-example/src/app/my-table/my-table.component.html
  apps/ngx-virtual-scroll-cdk-table-example/tsconfig.json
  apps/ngx-virtual-scroll-cdk-table-example/tsconfig.spec.json
  libs/ngx-mrlonis-shared/.eslintrc.json
  libs/ngx-mrlonis-shared/src/lib/services/aggressive-cache/aggressive-cache.service.spec.ts
  libs/ngx-mrlonis-shared/tsconfig.json
  libs/ngx-mrlonis-shared/tsconfig.spec.json
  libs/ngx-table-virtual-scroll/.eslintrc.json
  libs/ngx-table-virtual-scroll/src/lib/ngx-table-data-source.spec.ts
  libs/ngx-table-virtual-scroll/src/lib/table-item-size.directive.spec.ts
  libs/ngx-table-virtual-scroll/src/lib/table-item-size.directive.ts
  libs/ts-workspace/.eslintrc.json
  libs/types/.eslintrc.json
  tsconfig.base.json
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  .github/dependabot.yml
Due: none

Resolving TODO comments
  apps/ngx-table-virtual-scroll-sticky-headers-e2e/cypress.config.ts
  apps/ngx-test-application-e2e/cypress.config.ts
  apps/ngx-ui-personal-website-e2e/cypress.config.ts
  apps/ngx-virtual-scroll-cdk-table-example-e2e/cypress.config.ts
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Adding overrides for swimlane
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  apps/ngx-table-virtual-scroll-sticky-headers/src/app/app.component.ts
  apps/ngx-test-application/src/app/app.component.ts
  apps/ngx-test-application/src/app/features/anime-grid/anime-grid.component.ts
  apps/ngx-test-application/src/app/features/bar-chart/bar-chart.component.ts
  apps/ngx-test-application/src/app/features/function-testing/function-testing.component.ts
  apps/ngx-test-application/src/app/features/line-chart/line-chart.component.ts
  apps/ngx-test-application/src/app/features/pie-chart/pie-chart.component.ts
  apps/ngx-ui-personal-website/src/app/app.component.ts
  apps/ngx-ui-personal-website/src/app/nx-welcome.component.ts
  apps/ngx-virtual-scroll-cdk-table-example/src/app/app.component.ts
  apps/ngx-virtual-scroll-cdk-table-example/src/app/directives/fixed-row-size-table-virtual-scroll-strategy.directive.ts
  apps/ngx-virtual-scroll-cdk-table-example/src/app/directives/virtual-table.directive.ts
  apps/ngx-virtual-scroll-cdk-table-example/src/app/my-table/my-table.component.ts
  apps/ngx-virtual-scroll-cdk-table-example/src/app/table-virtual-scroll-viewport/table-virtual-scroll-viewport.component.ts
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  apps/ngx-ui-personal-website/project.json
Due: prettier --write

Updating dependencies with current settings
  .nvmrc
  package-lock.json
Due: prettier --write

Dependencies can install
  package-lock.json
  package.json
Due: prettier --write

NX Migrate finished
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.{css,html,js,jsx,json,md,ts,tsx,scss}) or (any of: apps/**/*.{html,js,jsx,ts,tsx})) or (any of: libs/**/*.{html,js,jsx,ts,tsx})) or (any of: pipeline/**/*.{js,json})) or (any of: tools/**/*.{json})
  ng-lint-staged lint --fix --: (any of: apps/**/*.{html,js,jsx,ts,tsx}) or (any of: libs/**/*.{html,js,jsx,ts,tsx})
