Repository mrlonis/mrlonis-nx-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

.lintstagedrc.json:

{
  "*.{css,html,js,jsx,json,md,ts,tsx,scss}": ["prettier --write"],
  "apps/**/*.{html,js,jsx,ts,tsx}": ["prettier --write", "ng-lint-staged lint --fix --"],
  "libs/**/*.{html,js,jsx,ts,tsx}": ["prettier --write", "ng-lint-staged lint --fix --"],
  "pipeline/**/*.{js,json}": ["prettier --write"],
  "tools/**/*.{json}": ["prettier --write"]
}

Updating license
  package-lock.json
Due: prettier --write

Updating dependencies
  package-lock.json
Due: prettier --write

Updating dependencies
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  README.md
  package.json
Due: prettier --write

Updating dependencies
  README.md
  nx.json
  package-lock.json
Due: prettier --write

Updating dependencies
  README.md
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  .vscode/extensions.json
Due: prettier --write

Updating dependencies
  apps/ngx-table-virtual-scroll-example/tsconfig.spec.json
  apps/ngx-table-virtual-scroll-sticky-headers/tsconfig.spec.json
  apps/ngx-ui-afk-arena/tsconfig.spec.json
  apps/ngx-ui-genshin-impact/tsconfig.spec.json
  apps/ngx-ui-mythic-heroes/tsconfig.spec.json
  apps/ngx-ui-personal-website/tsconfig.spec.json
  apps/ngx-virtual-scroll-cdk-table-example/tsconfig.spec.json
  apps/nx-angular-tutorial-todos/tsconfig.spec.json
  apps/nx-express-tutorial-angular-ui/tsconfig.spec.json
  apps/nx-plugin-mrlonis-e2e/jest.config.ts
  apps/ps-angular-forms/tsconfig.spec.json
  apps/ps-angular-fundamentals/tsconfig.spec.json
  apps/ps-angular-getting-started/tsconfig.spec.json
  jest.preset.js
  libs/ngx-buildable-library/tsconfig.spec.json
  libs/ngx-mrlonis-shared/tsconfig.spec.json
  libs/ngx-publishable-library/tsconfig.spec.json
  libs/ngx-workspace/tsconfig.spec.json
  libs/nx-angular-tutorial-ui/tsconfig.spec.json
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Updating nx
  .github/workflows/actions.yml
Due: none

Updating nx
  package-lock.json
Due: prettier --write

Updating project
  apps/nx-plugin-mrlonis-e2e/project.json
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  .eslintrc.json
  apps/ngx-table-virtual-scroll-example/.eslintrc.json
  apps/ngx-table-virtual-scroll-sticky-headers/.eslintrc.json
  apps/ngx-test-application/.eslintrc.json
  apps/ngx-ui-afk-arena/.eslintrc.json
  apps/ngx-ui-genshin-impact/.eslintrc.json
  apps/ngx-ui-mythic-heroes/.eslintrc.json
  apps/ngx-ui-personal-website/.eslintrc.json
  apps/ngx-virtual-scroll-cdk-table-example/.eslintrc.json
  apps/nx-angular-tutorial-api/tsconfig.app.json
  apps/nx-angular-tutorial-todos/.eslintrc.json
  apps/nx-express-tutorial-angular-ui/.eslintrc.json
  apps/nx-nextjs-tutorial-app/project.json
  apps/nx-react-tutorial-admin/.eslintrc.json
  apps/nx-react-tutorial-store/.eslintrc.json
  libs/ngx-buildable-library/.eslintrc.json
  libs/ngx-mrlonis-shared/.eslintrc.json
  libs/ngx-publishable-library/.eslintrc.json
  libs/ngx-table-virtual-scroll/.eslintrc.json
  libs/ngx-workspace-karma/.eslintrc.json
  libs/ngx-workspace/.eslintrc.json
  libs/nx-angular-tutorial-ui/.eslintrc.json
  libs/nx-react-tutorial-common-ui/.eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  .github/workflows/actions.yml
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  nx.json
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  README.md
  apps/nx-express-tutorial-api/project.json
  apps/nx-plugin-mrlonis-e2e/tests/mrlonis-nx-plugin.spec.ts
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Fixing e2e
  apps/nx-plugin-mrlonis-e2e/project.json
  apps/nx-plugin-mrlonis-e2e/tests/mrlonis-nx-plugin.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Updating nx
  package-lock.json
  package.json
Due: prettier --write

Updating
  apps/nx-angular-tutorial-api/tsconfig.app.json
  apps/nx-angular-tutorial-api/tsconfig.spec.json
  apps/nx-express-tutorial-api/tsconfig.app.json
  apps/nx-express-tutorial-api/tsconfig.spec.json
  apps/nx-react-tutorial-admin/tsconfig.app.json
  apps/nx-react-tutorial-admin/tsconfig.spec.json
  apps/nx-react-tutorial-store/tsconfig.app.json
  apps/nx-react-tutorial-store/tsconfig.spec.json
  libs/ngx-buildable-library/project.json
  libs/ngx-publishable-library/project.json
  libs/nx-nextjs-tutorial-publishable-lib/project.json
  libs/nx-plugin-mrlonis/project.json
  libs/nx-react-tutorial-products/project.json
  libs/ts-buildable-library/project.json
  package-lock.json
  package.json
Due: prettier --write

Updating
  package-lock.json
Due: prettier --write

Sorting file
  package.json
Due: prettier --write

Updating dependencies
  .github/workflows/actions.yml
  .prettierignore
  apps/nx-plugin-mrlonis-e2e/.eslintrc.json
  apps/nx-plugin-mrlonis-e2e/jest.config.ts
  apps/nx-plugin-mrlonis-e2e/project.json
  apps/nx-plugin-mrlonis-e2e/tests/mrlonis-nx-plugin.spec.ts
  apps/nx-plugin-mrlonis-e2e/tsconfig.json
  apps/nx-plugin-mrlonis-e2e/tsconfig.spec.json
  libs/nx-plugin-mrlonis/.eslintrc.json
  libs/nx-plugin-mrlonis/README.md
  libs/nx-plugin-mrlonis/executors.json
  libs/nx-plugin-mrlonis/generators.json
  libs/nx-plugin-mrlonis/jest.config.ts
  libs/nx-plugin-mrlonis/package.json
  libs/nx-plugin-mrlonis/project.json
  libs/nx-plugin-mrlonis/src/executors/build/executor.spec.ts
  libs/nx-plugin-mrlonis/src/executors/build/executor.ts
  libs/nx-plugin-mrlonis/src/executors/build/schema.d.ts
  libs/nx-plugin-mrlonis/src/executors/build/schema.json
  libs/nx-plugin-mrlonis/src/generators/mrlonis-generator/files/src/index.ts__template__
  libs/nx-plugin-mrlonis/src/generators/mrlonis-generator/generator.spec.ts
  libs/nx-plugin-mrlonis/src/generators/mrlonis-generator/generator.ts
  libs/nx-plugin-mrlonis/src/generators/mrlonis-generator/schema.d.ts
  libs/nx-plugin-mrlonis/src/generators/mrlonis-generator/schema.json
  libs/nx-plugin-mrlonis/src/generators/nx-plugin-mrlonis/files/src/index.ts__template__
  libs/nx-plugin-mrlonis/src/generators/nx-plugin-mrlonis/generator.spec.ts
  libs/nx-plugin-mrlonis/src/generators/nx-plugin-mrlonis/generator.ts
  libs/nx-plugin-mrlonis/src/generators/nx-plugin-mrlonis/schema.d.ts
  libs/nx-plugin-mrlonis/src/generators/nx-plugin-mrlonis/schema.json
  libs/nx-plugin-mrlonis/src/index.ts
  libs/nx-plugin-mrlonis/tsconfig.json
  libs/nx-plugin-mrlonis/tsconfig.lib.json
  libs/nx-plugin-mrlonis/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write, ng-lint-staged lint --fix --

Adding bowling score calculator
  libs/ts-workspace/src/lib/bowling/bowling-js.js
  libs/ts-workspace/src/lib/bowling/bowling.spec.ts
  libs/ts-workspace/src/lib/bowling/bowling.ts
  libs/ts-workspace/tsconfig.json
  package.json
  tsconfig.base.json
Due: prettier --write, ng-lint-staged lint --fix --

Adding more stuff
  .vscode/settings.json
  apps/events-and-callbacks-interview-question/.eslintrc.json
  apps/events-and-callbacks-interview-question/.swcrc
  apps/events-and-callbacks-interview-question/README.md
  apps/events-and-callbacks-interview-question/jest.config.ts
  apps/events-and-callbacks-interview-question/project.json
  apps/events-and-callbacks-interview-question/src/app/app.element.css
  apps/events-and-callbacks-interview-question/src/app/app.element.spec.ts
  apps/events-and-callbacks-interview-question/src/app/app.element.ts
  apps/events-and-callbacks-interview-question/src/assets/.gitkeep
  apps/events-and-callbacks-interview-question/src/environments/environment.prod.ts
  apps/events-and-callbacks-interview-question/src/environments/environment.ts
  apps/events-and-callbacks-interview-question/src/favicon.ico
  apps/events-and-callbacks-interview-question/src/index.html
  apps/events-and-callbacks-interview-question/src/main.ts
  apps/events-and-callbacks-interview-question/src/styles.css
  apps/events-and-callbacks-interview-question/src/test-setup.ts
  apps/events-and-callbacks-interview-question/tsconfig.app.json
  apps/events-and-callbacks-interview-question/tsconfig.json
  apps/events-and-callbacks-interview-question/tsconfig.spec.json
  apps/events-and-callbacks-interview-question/webpack.config.js
  libs/ts-workspace/src/lib/bowling/bowling-js.js
  libs/ts-workspace/src/lib/bowling/bowling.spec.ts
  libs/ts-workspace/src/lib/bowling/bowling.ts
  libs/ts-workspace/src/lib/bowling/index.ts
  libs/ts-workspace/src/lib/fizzbuzz/fizzbuzz-js.js
  libs/ts-workspace/src/lib/fizzbuzz/fizzbuzz.spec.ts
  libs/ts-workspace/src/lib/fizzbuzz/fizzbuzz.ts
  libs/ts-workspace/src/lib/fizzbuzz/index.ts
  libs/ts-workspace/src/lib/index.ts
  libs/ts-workspace/src/lib/person-printing/index.ts
  libs/ts-workspace/src/lib/person-printing/person-printing-js.js
  libs/ts-workspace/src/lib/person-printing/person-printing.spec.ts
  libs/ts-workspace/src/lib/person-printing/person-printing.ts
  nx.json
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --
