Repository mrlonis/mrlonis-nx-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

.lintstagedrc.json:

{
  "*.{css,html,js,jsx,json,md,ts,tsx,scss}": ["prettier --write"],
  "apps/**/*.{html,js,jsx,ts,tsx}": ["prettier --write", "ng-lint-staged lint --fix --"],
  "libs/**/*.{html,js,jsx,ts,tsx}": ["prettier --write", "ng-lint-staged lint --fix --"],
  "pipeline/**/*.{js,json}": ["prettier --write"],
  "tools/**/*.{json}": ["prettier --write"]
}

Adding README for sql queries
  apps/events-and-callbacks-interview-question/README.md
Due: prettier --write

Adding README for sql queries
  apps/events-and-callbacks-interview-question/README.md
  libs/ts-workspace/src/lib/fizzbuzz/fizzbuzz-js.js
  libs/ts-workspace/src/lib/fizzbuzz/fizzbuzz.spec.ts
  libs/ts-workspace/src/lib/fizzbuzz/fizzbuzz.ts
  libs/ts-workspace/src/lib/person-printing/test.js
Due: prettier --write, ng-lint-staged lint --fix --

Adding README for sql queries
  libs/ts-workspace/src/lib/person-printing/test.js
Due: prettier --write, ng-lint-staged lint --fix --

Adding leetcode problem
  libs/ts-workspace/src/lib/fizzbuzz/fizzbuzz-js.js
  libs/ts-workspace/src/lib/fizzbuzz/fizzbuzz.ts
  libs/ts-workspace/src/lib/index.ts
  libs/ts-workspace/src/lib/length-of-longest-substring/index.ts
  libs/ts-workspace/src/lib/length-of-longest-substring/length-of-longest-substring.spec.ts
  libs/ts-workspace/src/lib/length-of-longest-substring/length-of-longest-substring.ts
  libs/ts-workspace/src/lib/person-printing/person-printing-js.js
  libs/ts-workspace/src/lib/person-printing/person-printing.ts
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Update
  package-lock.json
  package.json
Due: prettier --write

Update
  package-lock.json
Due: prettier --write

Updating dependencies
  .github/workflows/actions.yml
Due: none

Updating dependencies
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  package-lock.json
Due: prettier --write

Updating for windows
  package-lock.json
  package.json
Due: prettier --write

Adding .gitattributes
  .gitattributes
Due: none

Fix build failure
  libs/ngx-buildable-library/project.json
  libs/ngx-publishable-library/project.json
  libs/nx-nextjs-tutorial-publishable-lib/project.json
  libs/nx-react-tutorial-products/project.json
  libs/ts-buildable-library/project.json
Due: prettier --write

Removing modules
  .nvmrc
  apps/events-and-callbacks-interview-question/.eslintrc.json
  apps/events-and-callbacks-interview-question/.swcrc
  apps/events-and-callbacks-interview-question/README.md
  apps/events-and-callbacks-interview-question/jest.config.ts
  apps/events-and-callbacks-interview-question/project.json
  apps/events-and-callbacks-interview-question/src/app/app.element.css
  apps/events-and-callbacks-interview-question/src/app/app.element.spec.ts
  apps/events-and-callbacks-interview-question/src/app/app.element.ts
  apps/events-and-callbacks-interview-question/src/assets/.gitkeep
  apps/events-and-callbacks-interview-question/src/environments/environment.prod.ts
  apps/events-and-callbacks-interview-question/src/environments/environment.ts
  apps/events-and-callbacks-interview-question/src/favicon.ico
  apps/events-and-callbacks-interview-question/src/index.html
  apps/events-and-callbacks-interview-question/src/main.ts
  apps/events-and-callbacks-interview-question/src/styles.css
  apps/events-and-callbacks-interview-question/src/test-setup.ts
  apps/events-and-callbacks-interview-question/tsconfig.app.json
  apps/events-and-callbacks-interview-question/tsconfig.json
  apps/events-and-callbacks-interview-question/tsconfig.spec.json
  apps/events-and-callbacks-interview-question/webpack.config.js
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Updating nx
  README.md
  apps/ngx-table-virtual-scroll-example-e2e/cypress.config.ts
  apps/ngx-table-virtual-scroll-example-e2e/project.json
  apps/ngx-table-virtual-scroll-example/project.json
  apps/ngx-table-virtual-scroll-sticky-headers-e2e/cypress.config.ts
  apps/ngx-table-virtual-scroll-sticky-headers-e2e/project.json
  apps/ngx-table-virtual-scroll-sticky-headers/project.json
  apps/ngx-test-application-e2e/cypress.config.ts
  apps/ngx-test-application-e2e/project.json
  apps/ngx-test-application/project.json
  apps/ngx-ui-personal-website-e2e/cypress.config.ts
  apps/ngx-ui-personal-website-e2e/project.json
  apps/ngx-ui-personal-website/project.json
  apps/ngx-ui-personal-website/src/app/nx-welcome.component.ts
  apps/ngx-virtual-scroll-cdk-table-example-e2e/cypress.config.ts
  apps/ngx-virtual-scroll-cdk-table-example-e2e/project.json
  apps/ngx-virtual-scroll-cdk-table-example/project.json
  libs/ngx-mrlonis-shared/project.json
  libs/ngx-table-virtual-scroll/project.json
  libs/ts-workspace/project.json
  libs/types/project.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Updating nx
  .github/workflows/actions.yml
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

Updating nx
  README.md
Due: prettier --write

Updating package.json
  package.json
Due: prettier --write

Stubbing out temp function
  libs/ts-workspace/src/temp/index.ts
  libs/ts-workspace/src/temp/temp.spec.ts
  libs/ts-workspace/src/temp/temp.ts
  libs/ts-workspace/tsconfig.lib.json
  libs/ts-workspace/tsconfig.spec.json
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  .env
  .github/workflows/actions.yml
  nx.json
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  .nvmrc
  nx.json
  package-lock.json
  package.json
Due: prettier --write

Updating nvm node
  .husky/pre-commit
  .nvmrc
  package.json
Due: prettier --write

Ran nx migrations
  .eslintrc.json
  decorate-angular-cli.js
  package-lock.json
  package.json
Due: prettier --write

Fixing tests
  apps/ngx-table-virtual-scroll-example/src/app/app.component.spec.ts
  apps/ngx-table-virtual-scroll-sticky-headers/src/app/app.component.spec.ts
  apps/ngx-test-application/src/app/app.component.spec.ts
  apps/ngx-ui-personal-website/src/app/app.component.spec.ts
  apps/ngx-virtual-scroll-cdk-table-example/src/app/app.component.spec.ts
  libs/ngx-mrlonis-shared/src/lib/services/api/api.service.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Updating GitHub Actions
  .github/workflows/actions.yml
Due: none

Adding dependabot
  .github/dependabot.yml
Due: none

Adding dependabot stuff
  .github/dependabot.yml
  .github/workflows/update.yml
  package.json
Due: prettier --write

Fixing package.json
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write

Adding migrations
  .prettierignore
  apps/ngx-table-virtual-scroll-example-e2e/project.json
  apps/ngx-table-virtual-scroll-sticky-headers-e2e/project.json
  apps/ngx-test-application-e2e/project.json
  apps/ngx-ui-personal-website-e2e/project.json
  apps/ngx-virtual-scroll-cdk-table-example-e2e/project.json
  libs/ngx-mrlonis-shared/project.json
  libs/ts-workspace/project.json
  libs/types/project.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write

Adding migrations
  .prettierignore
  nx.json
  package-lock.json
  package.json
Due: prettier --write

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: prettier --write

Fixing lockfile
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write
